.App {
  text-align: left;
  background-color: white;
  color: black;
  padding: 20px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.button-container {
  display: flex;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 0;
  border: 1px solid #000;
  background-color: #f0f0f0;
  cursor: pointer;
}

button + button {
  margin-left: 0; /* Ensure no gap between buttons */
}
